SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=user@gmail.com
SMTP_PASS=SMTP_PASS
ALERT_FROM=user@gmail.com
ALERT_TO=user@gmail.com
ELASTIC_PASSWORD=your_elastic_password
KIBANA_SYSTEM_PASSWORD=your_kibana_system_password
LOGSTASH_SYSTEM_PASSWORD=your_logstash_system_password
